<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>intuitique</title>
  <link rel="icon" href="images/favicon.ico?">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->

  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">intuitique</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">home</a></li>
          <li id="solutions"><a href="/">solutions</a></li>
          <li id="about"><a href="/about">about us</a></li>
          <li id="contact"><a href="/contact">contact us</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
