<%- include("partials/header") -%>
  <section class="light-section">
      <div class="container-fluid">
          <div class="row">
              <h1 class="section-heading">Meet the team</h1>
          </div>
          <div class="container expertise">
              <img class="expertise-img" src="images/delphine.png" alt="delphine">
              <h3 class="feature-title">Delphine Rabiller</h3>
              <h5 class="feature-title">Founder of Intuitique - Circus Enthusiast</h5>
              <p class="feature-paragraph">Delphine comes from France where he studies chemical engineering.
                She came to the UK to complete a PhD in organic chemistry. After a very succesful carreer in the biotechnology industry
              where she gained experience as project and line manager, she decided to retrain in data analytics.
            Leading data project in both fashion and biotechnology she decided to create Intuitique in 2021.
          <br />
        When she is not doing data analysis, Delphine love exploring the Scottish outdoors in a kayak, yatch or by foot.
      She also have a passion for aerial arts and can be found hanging upside down from various bits of equipment !!</p>
          </div>
      </div>
  </section>

<%- include("partials/footer") -%>
