<%- include("partials/header") -%>

<section class="title-section">
  <div class="container-fluid">

    <div class="row">

      <form class="form-signin" method="Post" action="/contact">
        <img class="mb-4" src="/images/logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Signup to our Newsletter</h1>

        <input name="fName" type="text" class="form-control topInput" placeholder="First Name" required autofocus>
        <input name="lName" type="text" class="form-control middleInput" placeholder="Last Name" required>
        <input name="email" type="email" class="form-control bottomInput" placeholder="Email" required>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Me Up</button>
      </form>

    </div>

    <div class="row contact-me">
        <h2>📧 Get In Touch</h2>
        <h3>An email goes a long way</h3>
        <p>We would love to hear from you. Let's have a chat about your project.
          If you'd like to know how we could help your with your data get in touch!</p>
        <a class="btn btn-lg btn-primary contact-btn" href="mailto:delphine_rabiller@yahoo.fr">Contact Us</a>
        <p class="mt-5 mb-3 text-muted logo">intuitique</p>
    </div>

  </div>
</section>

<%- include("partials/footer") -%>
