<%- include("partials/header") -%>
    <section class="title-section">
        <div class = "container-fluid">
            <div class="row">
                <h1 class="top-heading">Insights Through Data</h1>
                <p class="top-paragraph">We're turning your data into actions <br> Helping you at every step.</p>
            </div>
        </div>
    </section>

    <section class="dark-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="section-heading">Our Expertise</h1>
            </div>
            <div class="container expertise">
                <img class="expertise-img" src="images/data_analysis.png" alt="data_analysis">
                <h3 class="feature-title">Data Analysis</h3>
                <p class="feature-paragraph">We have the tools to analyse your data and turn it into actions.</p>
            </div>
            <div class="container expertise">
                <img class="expertise-img" src="images/bio-info.png" alt="biotechnology">
                <h3 class="feature-title">Biotechnology</h3>
                <p class="feature-paragraph">With over 10 years experience in biotechnology we can make sense of scientific data.</p>
            </div>
            <div class="container expertise"> 
                <img class="expertise-img" src="images/project_management.png" alt="project_management">
                <h3 class="feature-title">Project Management</h3>
                <p class="feature-paragraph">We have succesfully run end to end project in data, science and fashion.</p>
            </div>
        </div>
    </section>

    <section class="light-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="section-heading">Our Projects</h1>
            </div>
        </div>
    </section>

    <section class="dark-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="section-heading">Our Process</h1>
            </div>
        </div>
    </section>

<%- include("partials/footer") -%>
